# Byte-compiled / optimized / DLL files
*/__pycache__/
*.pyc
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Project
*.log
*.sqlite
